@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
  background-image: url("../../public/assets/home-hero.png");
}
.about-us-hero {
  background-image: url("../../public/assets/about-hero.png");
}
.contact-us-hero {
  background-image: url("../../public/assets/contact-hro.jpg");
}
.core-values {
  /* list-style: url("/assets/icons8-rating-30.png"); */
}
li.core-list-item {
  position: relative;
  top: 10px;
}
